node_modules/
.serverless/
.gradle/
.classpath
.project
.settings/
target/

__pycache__/

*.log

.terraform/
terraform.tfstate

.venv/
testdata/

*.vmdk
*.vdi
*.7z
*.zip

glacier-s3-select/*result.csv
azure-functions/.python_packages/
