node_modules/
.serverless/
.gradle/
.classpath
.project
.settings/
target/

.idea/

__pycache__/

*.log

.terraform/
terraform.tfstate
.terraform.lock*

.venv/
testdata/

*.vmdk
*.vdi
*.7z
*.zip
!lambda.zip

glacier-s3-select/*result.csv
azure-functions/.python_packages/

*/logs.txt
