anyio==3.6.1
boto3==1.24.85
boto3-stubs==1.24.85
botocore==1.27.85
botocore-stubs==1.27.85
certifi==2022.9.24
charset-normalizer==2.1.1
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.4
jmespath==1.0.1
mypy-boto3-s3==1.24.76
mypy-boto3-sagemaker==1.24.84
mypy-boto3-sagemaker-runtime==1.24.84
numpy==1.23.3
python-dateutil==2.8.2
rfc3986==1.5.0
s3transfer==0.6.0
six==1.16.0
sniffio==1.3.0
types-awscrt==0.14.6
types-s3transfer==0.6.0.post4
typing_extensions==4.3.0
urllib3==1.26.12
