name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: '0 13 * * *' # 13:00 server time, meaning 14/15:00 our time. For regular commits in LS. GitHub seems to be quite busy at that time, so this might be executed much later
    - cron: '0 7 * * *'  # 07:00 server time, meaning 08/09:00 our time. For the night owls and early birds.
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Nodejs
      uses: actions/setup-node@v3
      with:
        node-version: 14

    # see https://github.com/localstack/localstack/pull/6831
    # remove once no longer needed
    - name: Fix pyOpenSSL version
      run:  pip install --upgrade pyOpenSSL

    - name: Install LocalStack
      run:  pip install localstack awscli-local[ver1]

    - name: Install Dependencies
      run: |
        pip install virtualenv
        pip install --upgrade pyopenssl
        npm install -g serverless

    - name: Setup config
      run: |
        echo "Configuring git for codecommit sample"
        git config --global user.email "localstack.sample@localstack.cloud"
        git config --global user.name "Localstack Pro-Samples"

    - name: Pull the latest docker image
      run: docker pull localstack/localstack-pro

    - name: Execute tests
      env:
        LOCALSTACK_API_KEY: ${{ secrets.TEST_LOCALSTACK_API_KEY }}
        DNS_ADDRESS: 127.0.0.1
        DEBUG: 1
      timeout-minutes: 50
      run: make test-ci-all
